﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Зберігання стану в cookies. Результат</h1>

<div id="result">
    Saved State - @Model
</div>
<a asp-controller="home" asp-action="index">назад</a>