﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Form Page";
}

<h1>Form Page</h1>

<form method="post" asp-action="SubmitForm">
    <label for="inputValue">Input Value:</label>
    <input type="text" id="inputValue" name="inputValue" required>
    <br>
    <label for="inputDateTime">Input Date and Time:</label>
    <input type="datetime-local" id="inputDateTime" name="inputDateTime" required>
    <br>
    <button type="submit">Submit</button>

      <div>
            <a asp-controller="home" asp-action="check">Test View</a>
      </div>
</form>
